header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 10;
}


nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.search-icon {
  min-width: 80px;
}

#logo {
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
  align-self: center;
  flex-grow: 1;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
}

.left-icons a,
nav a {
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  #logo{
    display: none;
  }
}