.user-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
}

.user-form h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
}

.container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

label {
    align-self: start;
    gap: 0;
    font-size: 14px;
    font-weight: 300;
    font-weight: 500;
}

.button-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .user-form input {
        padding: 16px;
        font-size: 18px;
    }

    .button-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .button-row button {
        width: 48%;
    }
}